body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    margin: 0;
}

.calculator {
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#display {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    text-align: right;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    gap: 10px;
}

button {
    width: 60px;
    height: 60px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: grey;
    transition: background-color 0.2s;
}

button:hover {
    background-color:purple;
}

.equal-button {
    grid-column: span 4;
    background-color: green;
    color: #fff;
}

.equal-button:hover {
    background-color: green;
}
